/* CSS HEX */
/* --royal-blue-traditional: #01295fff;
--cerulean: #437f97ff;
--olive: #849324ff;
--orange-peel: #FEA116ff;
--red: #fd151bff; */






nav {
  background-color: #FBF5F3;
  padding: 0.7rem;
  color: #E28413;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav span {
  font-weight: bold;
}
.navbar-buttons {
  display: flex;
  gap: 10px;
}

.navbar-buttons a {
  position: relative;
  color: #E28413;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 15px;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.4rem;
  transition: border-bottom 1ms ease;
}

.navbar-buttons a:hover {
  border-bottom: 0.2rem solid #E28413; /* Added border-bottom on hover */
}


nav span img {
  width: 50px; /* Set the width as needed */
  height: 50px; /* Set the height as needed */
  border-radius: 50%; /* Optional: for a circular profile picture */
  margin-right: 10px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

header {
  background-color: #000022;
  color: #C42847;
  padding: 10px;
  text-align: center;
  z-index: 3;
  position: relative;
}



.learning-path {
  display: block;
  margin: 2rem;
  padding: 10px;
  background-color: #B9D0E9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border: 2px solid black;
  position: relative;
  z-index: 1;
}
.learning-path:hover {
  transform: scale(1.02);
  z-index: 2;
}
.learning-path h2 {
  margin-top: 0;
  color: #0E2239;
  text-align: left;
}

.learning-path p {
  margin-bottom: 0;
  color: #666666;
}
.search-container {
  margin: 10px;
  text-align: center;
}

.search-container input[type=text] {
  padding: 10px;
  margin: 5px 0;
  width: 50%;
  border-radius: 3rem;
}

.search-container .search-results {
  margin-top: 10px;
}

.search-container .search-results div {
  border: 1px solid #ddd;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.search-container .search-results h2 {
  margin-top: 0;
}

.search-container .search-results p {
  margin-bottom: 0;
}

h1 {
  font-family: 'Comfortaa', sans-serif;}

  .welcome-text {
    color: black ;
  }

/* PAge end  */


/* Login page */


/* Form Styles */
h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5rem;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

label {
  display: block;
  margin-bottom: 8px;
  font-family: 'Comfortaa', sans-serif;
  color: #555;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.error {
  color: #ff3d3d;
  font-size: 0.9rem;
  margin-top: -10px;
  margin-bottom: 15px;
}

input[type="submit"] {
  background-color: #4B0082;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #6A5ACD;
}

.register-message {
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  form {
    width: 80%;
  }
}

/* page end */

/* voting buttons */


.voting-buttons {
  display: flex;
  gap: 10px;
}

.upvote-btn {
  background-color: #4CAF50; 
  color: #fff; 
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.downvote-btn {
  background-color: #e74c3c; 
  color: #fff; 
  border: none;
  cursor: pointer;
  font-size: 1rem;
  margin: 10px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.upvote-btn:hover {
  background-color: #347a31; 
}

.downvote-btn:hover {
  background-color: #c0392b; 
}

  /* Extra foooter  */

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

footer p {
    margin: 0;
}

/* Additional CSS for effects (optional) */
footer:hover {
    background-color: #555;
    transition: background-color 0.3s ease;
}

footer p:hover {
    color: #ffcc00;
    transition: color 0.3s ease;
}

/* pagee end  */


.loginbackg {
  position: relative;
  background-image: url('./assets/img/loginb.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.login-form {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white; 
  max-width: 400px; 
  width: 80%; 
  margin: 0 auto; 
  padding: 20px; 
  box-sizing: border-box; 
}
.login-form input {
  margin: 1.5rem 0; 
}

.loginbackg img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* page end */

/* registerr */

.registerbackg {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; /* Ensure the blurred overlay covers the entire viewport */
}

.loginbackg {
  position: relative;
  background-image: url('./assets/img/registerb.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.register-form {
  position: absolute;
  z-index: 2;
  text-align: center;
  color: white;
  max-width: 400px; /* Adjust the max-width as needed */
  width: 80%; /* Adjust the width as needed */
  margin: 0 auto; /* Center the form horizontally */
  padding: 20px; /* Add padding for better aesthetics */
  box-sizing: border-box; /* Include padding in the width */
}

.register-form input {
  margin: 1.5rem 0; /* Adjust the margin as needed */
}